<div class="page-container">
  
  <div class="inner">
  
    <section>
      <h2>Example: Simple Tree</h2>
      <ivory-tree>
        @for (item of treeData; track $index) {
          <ivory-treenode
            [node]="item"
            [nodeTitle]="item.name"
            [nodeHasChildren]="item.children.length>0"
            [nodeExpanded]="true"
          >
            @for (childItem of item.children; track $index) {
              <ivory-treenode
                [node]="childItem"
                [nodeHasChildren]="childItem.children.length>0"
                [nodeTitle]="childItem.name"
                [nodeExpanded]="true"
              >
                @for (grandchildItem of childItem.children; track $index) {
                  <ivory-treenode
                    [node]="grandchildItem"
                    [nodeTitle]="grandchildItem.name"
                  ></ivory-treenode>
                }
              </ivory-treenode>
            }
          </ivory-treenode>
        }
      </ivory-tree>
    </section>
    
    <section>
      <h2>Example: Recursive Tree</h2>
      <ivory-tree
        [treeRecursive]="true"
        [treeData]="treeData"
        [treeSelectable]="false"
        [treeExpandByDefault]="true"
        [nodeTitleParam]="'name'"
      >
      </ivory-tree>
    </section>

  </div>

</div>
