<div class="page-container">

  <div class="inner">

    <h3>Example: Simple Tree</h3>
    <div class="row">
      <div class="col">
        <ivory-tree>
          @for (item of treeData; track $index) {
            <ivory-treenode
              [node]="item"
              [nodeHasChildren]="item.children.length>0"
              [nodeExpanded]="true"
            >
              <ng-container title>
                {{item.name}}
              </ng-container>
              @for (childItem of item.children; track $index) {
                <ivory-treenode
                  [node]="childItem"
                  [nodeHasChildren]="childItem.children.length>0"
                  [nodeExpanded]="true"
                >
                  <ng-container title>
                    {{childItem.name}}
                  </ng-container>
                  @for (grandchildItem of childItem.children; track $index) {
                    <ivory-treenode
                      [node]="grandchildItem"
                    >
                      <ng-container title>
                        {{grandchildItem.name}}
                      </ng-container>
                    </ivory-treenode>
                  }
                </ivory-treenode>
              }
            </ivory-treenode>
          }
        </ivory-tree>
      </div>
      <div class="col">
        <pre>
          <code>
            {{snippet1}}
          </code>
        </pre>
      </div>
    </div>
    
    <h3>Example: Recursive Tree</h3>
    <div class="row">
      <div class="col">
        <ivory-tree
          [treeRecursive]="true"
          [treeData]="treeData"
          [treeNodeSelection]="false"
          [treeExpandByDefault]="true"
          [nodeTitleParam]="'name'"
        >
        </ivory-tree>
      </div>
      <div class="col">
        <pre>
          <code>
            {{snippet2}}
          </code>
        </pre>
      </div>
    </div>

  </div>

</div>
