<div class="page-container">

  <div class="inner">

    <h3>Example: Simple Tree</h3>
    <div class="row">
      <div class="col">
        <ivory-tree>
          @for (item of treeData; track $index) {
            <ivory-treenode
              [node]="item"
              [nodeTitle]="item.name"
              [nodeHasChildren]="item.children.length>0"
              [nodeExpanded]="true"
            >
              @for (childItem of item.children; track $index) {
                <ivory-treenode
                  [node]="childItem"
                  [nodeHasChildren]="childItem.children.length>0"
                  [nodeTitle]="childItem.name"
                  [nodeExpanded]="true"
                >
                  @for (grandchildItem of childItem.children; track $index) {
                    <ivory-treenode
                      [node]="grandchildItem"
                      [nodeTitle]="grandchildItem.name"
                    ></ivory-treenode>
                  }
                </ivory-treenode>
              }
            </ivory-treenode>
          }
        </ivory-tree>
      </div>
      <div class="col">
        <pre>
          <code>
            &lt;ivory-tree&gt;
              &amp;for (item of treeData; track $index) &#123;
                &lt;ivory-treenode
                  [node]="item"
                  [nodeTitle]="item.name"
                  [nodeHasChildren]="item.children.length>0"
                  [nodeExpanded]="true"
                &gt;
                  &amp;for (childItem of item.children; track $index) &#123;
                    &lt;ivory-treenode
                      [node]="childItem"
                      [nodeHasChildren]="childItem.children.length>0"
                      [nodeTitle]="childItem.name"
                      [nodeExpanded]="true"
                    &gt;
                      &amp;for (grandchildItem of childItem.children; track $index) &#123;
                        &lt;ivory-treenode
                          [node]="grandchildItem"
                          [nodeTitle]="grandchildItem.name"
                        &gt;&lt;/ivory-treenode&gt;
                      &#125;
                    &lt;/ivory-treenode&gt;
                  &#125;
                &lt;/ivory-treenode&gt;
              &#125;
            &lt;/ivory-tree&gt;
          </code>
        </pre>
      </div>
    </div>
    
    <h3>Example: Recursive Tree</h3>
    <div class="row">
      <div class="col">
        <ivory-tree
          [treeRecursive]="true"
          [treeData]="treeData"
          [treeSelectable]="false"
          [treeExpandByDefault]="true"
          [nodeTitleParam]="'name'"
        >
        </ivory-tree>
      </div>
      <div class="col">
        <pre>
          <code>
            &lt;ivory-tree
              [treeRecursive]="true"
              [treeData]="treeData"
              [treeSelectable]="false"
              [treeExpandByDefault]="true"
              [nodeTitleParam]="'name'"
            &gt;
            &lt;/ivory-tree&gt;
          </code>
        </pre>
      </div>
    </div>

  </div>

</div>
